{% extends 'base.html' %}

{% block content %}

<h2>Currency Converter</h2>

<p>Enter a FROM currency and a TO currency in the <a
        href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">three
        digit format</a> (e.g. USD for US dollars or EUR for Euros) along
    with an amount of the FROM currency (don't enter any currency symbols).</p>

<p>For example, if you want to know how many Euros $100 US dollars converts to, you'd enter USD in the FROM box,
    EUR in the TO box, and 100 in the amount box. </p>

<form id="form" action="/convert">
    <label for"user_from">Converting from</label>
    <input id="user_from" name="user_from" placeholder="e.g. USD"><br>
    <label for"to">Converting to</label>
    <input id="user_to" name="user_to" placeholder="e.g. eur"><br>
    <label for"user_amount">Amount:</label>
    <input id="user_amount" name="user_amount" placeholder="e.g. 100"><br>
    <button type="submit" class="btn btn-primary" id="button">Convert</button>
</form>

{% endblock %}